{% extends "base.html" %}
{% block content %}
<div class="gotgame">
    <header>
        <img src="/static/img/logo.png">
        <p>Play for cash on your favourite video games.</p>
        <p>Win 10 games in a row and <em>win $1,000</em></p>
        <p>Win 20 games in a row and <em>win $1,000,000</em></p>

        <!-- Begin MailChimp Signup Form -->
        <form action="http://gotgameapp.us7.list-manage.com/subscribe/post?u=cccb3bdab4a2635199655c755&amp;id=ec00d45604" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
            <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
        <!--End mc_embed_signup-->

    </header>
</div>
<div class="lovedby">
    <section>
        <h2>Loved by:</h2>
        <img src="/static/img/loved-by-logos.png" alt="Google, Apple ESPN, Samsung">
    </section>
</div>
<div class="how-it-works">
    <section>
        <figure>
            <figcaption>
                <h2>How it works</h2>
                <h3>Every player starts on $1</h3>
                <p>Choose your game and your console, deposit<br> a dollar and&nbsp;go&nbsp;swimming</p>

                <h3>True skill matching</h3>
                <p>We match you with opponents with a similar<br> skill level to make&nbsp;it&nbsp;fair</p>
        
                <h3>Double your money</h3>
                <p>With every win you double up your cash with<br> the option to risk it or bank it at&nbsp;each&nbsp;level</p>
            </figcaption>
            <img src="/static/img/console-select.png">
        </figure>
    </section>
</div>
<div class="awesome">
    <section>
        <figure>
        <h2>&ldquo;That is pretty f**king awesome&rdquo;</h2>
        <figcaption>
            <img src="/static/img/google-ventures.png" alt="Google Ventures">
            At TechCrunch Disrupt NYC 2013
        </figcaption>
        </figure>
        
    </section>
</div>
<div class="become">
    <section>
        <h2><em>Become a millionaire</em> just by playing your favourite game.</h2>
        <figure>
            <img src="/static/img/streak-table.png">
            <figcaption>
                <span></span>
                <p>You’re on a big streak. You’ve played 14 straight games and are on level 14. If
                you win this next one, you’re on track to taking home over $16,000.</p>

                <p>Do you risk it allin search of becoming GotGames first ever
                millionaire?</p>
                
                <p><strong>Risk it or bank it? Your choice.</strong></p>
            </figcaption>
        </figure>
    </section>
</div>
<div class="team">
    <section>
        <h2><em>Our team.</em> The talent that made it all happen.</h2>


        <figure>
            <img src="/static/img/team/dave.png">
            <figcaption>
                <h3>David Y.</h3>
                <p>Founder, CEO</p>
            </figcaption>
        </figure>

        <figure>
            <img src="/static/img/team/george.png">
            <figcaption>
                <h3>George G.</h3>
                <p>Founder, Creative&nbsp;Director</p>
            </figcaption>
        </figure>

        <figure>
            <img src="/static/img/team/andrés.png">
            <figcaption>
                <h3>Andrés C.</h3>
                <p>Mobile Engineer</p>
            </figcaption>
        </figure>

        <figure>
            <img src="/static/img/team/marco.png">
            <figcaption>
                <h3>Marco F.</h3>
                <p>Software Developer</p>
            </figcaption>
        </figure>

        <figure>
            <img src="/static/img/team/sym.png">
            <figcaption>
                <h3>Sym R.</h3>
                <p>Software Developer</p>
            </figcaption>
        </figure>

        <figure>
            <img src="/static/img/team/callum.png">
            <figcaption>
                <h3>Callum H.</h3>
                <p>Production Manager</p>
            </figcaption>
        </figure>
        
        <figure>
            <img src="/static/img/team/alex.png">
            <figcaption>
                <h3>Alex P.</h3>
                <p>Advisor</p>
            </figcaption>
        </figure>
        
        <figure>
            <img src="/static/img/team/leon.png">
            <figcaption>
                <h3>Leon L.</h3>
                <p>Mascot</p>
            </figcaption>
        </figure>
        
        
    </section>
</div>

<div class="story">
    <section>
        <h2><em>Our Story.</em> Built in London, launched in New York City.</h2>
        
        <img src="/static/img/instagram/photos_r1_c1.png">
        <img src="/static/img/instagram/photos_r1_c3.png">
        <img src="/static/img/instagram/photos_r1_c5.png">
        <img src="/static/img/instagram/photos_r1_c7.png">
        <img src="/static/img/instagram/photos_r3_c1.png">
        <img src="/static/img/instagram/photos_r3_c3.png">
        <img src="/static/img/instagram/photos_r3_c5.png">
        <img src="/static/img/instagram/photos_r3_c7.png">
        <img src="/static/img/instagram/photos_r5_c1.png">
        <img src="/static/img/instagram/photos_r5_c3.png">
        <img src="/static/img/instagram/photos_r5_c5.png">
        <img src="/static/img/instagram/photos_r5_c7.png">
        
        <a href="http://instagram.com/apocalypseventures/"><span>&#xe300;</span> See the full collection on Instagram</a>
        
    </section>
</div>

<div class="request">
    <section>
        <h2><em>Request and invite.</em> We're currently still in private beta.</h2>
        
        <!-- Begin MailChimp Signup Form -->
        <form action="http://gotgameapp.us7.list-manage.com/subscribe/post?u=cccb3bdab4a2635199655c755&amp;id=ec00d45604" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
            <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
        <!--End mc_embed_signup-->
        
        <h3><em>Enhance you're chance of an invite?</em> Share the love.</h2>

        <a href="#" title="Facebook">&#xe227;</a>
        <a href="#" title="Twitter">&#xe286;</a>
        <img src="/static/img/footer-phone.png">
    </section>
</div>
{% endblock %}
